.line{
  background: #5b5e66;
  width: 3px;
  height: 100%;
  position: absolute;
  top: Fangsize(80);
  left: Fangsize(30);
}
.lineBox{
   .circle{
      background: #619fdc;
      width: Fangsize(22);
      height: Fangsize(22);
      position: absolute;
      top: Fangsize(22);
      left: 0;
      border-radius: 50%;
  }
}

.MyresultListBox{
  .MyresultList{
    padding:0 Fangsize(20);

    .ListBoxon{
      padding-top:Fangsize(20);
      position:relative;width:100%;height:Fangsize(240);
      .rightBox{
          padding-left:Fangsize(40);
        .resultTimes{
          color:#e3e9eb;Fangfont(14);
        }
        .resultListDataBox{
          background:#233547;height:Fangsize(200);margin-top:Fangsize(10);
          .ListDataImgage{
            width:Fangsize(130);height:Fangsize(180);
            img{
              width:100%;padding:Fangsize(12) Fangsize(10);
            }
          }
          .ListDataContent{
            width:51%;Fangsize(12) 0;margin-left:Fangsize(40);margin-top:Fangsize(5);
            .ListDataContentTitle{
              height:Fangsize(50) !important;color:#5c99d4 !important;Fangfont(14) !important;
            }
            p{
              width:100%;overflow-x:auto;-webkit-overflow-scrolling: touch;height:Fangsize(40);line-height:Fangsize(40);white-space: nowrap;color:#edeeef;Fangfont(12);
            }
          }
          .IconGreatorCheckBox{
            width:Fangsize(160);height:Fangsize(160);
            position:absolute;bottom:Fangsize(20);right:0;
            .IconGreatorCheck{
              width:100%;height:Fangsize(160);
              img{
                width:75%;padding:Fangsize(17.5%);
              }
            }
          }
        }

      }
    }

  }
}
