.megessListBox{
  overflow-y auto;-webkit-overflow-scrolling: touch;
  .megessList{
    li{
      height:Fangsize(82);line-height:Fangsize(82);border-bottom:1px solid #44505e;padding:0 Fangsize(20);
      .megessTitle{
        width:12.5%;
      }
      p{
        overflow: auto;white-space: nowrap;Fangsize(14);color:#e5e5f1;-webkit-overflow-scrolling: touch;
      }
      .megessContent{
        width:57.5%;
      }
      .megessTime{
        width:27.5%;text-align:right;
      }
    }
  }
}
