.examinationresultBox{

  ul{
    padding:0 Fangsize(85);text-align:center;
    li{
      width:100%;
      &.examimages{
        margin-top:Fangsize(70);
        p{
          width:Fangsize(410);margin:0 auto;
          img{
            width:100%;
          }
        }
      }
      &.examfenshu{
        margin-top:Fangsize(60);
        p{
          width:50%;
          Fangfont(17);color:#fefefe;
          span{
            display:block;clear:both;
            &.pass{
              color:#3fc7f7;Fangfont(36);margin-top:Fangsize(30);
            }
            &.nopass{
              color:#7365b5 !important;
            }
          }
        }
      }

      &.comrBtnBox{
        margin-top:Fangsize(120);
        .comrBtnpass{
          background:#4f83b6;color:#cccfd1;border-radius:Fangsize(8);width:100%;height:Fangsize(80);line-height:Fangsize(80);border:0;Fangfont(16);outline:none;
        }
        .comrBtnnopass{
          background:#7365b5 !important;
        }
      }

    }
  }

}
