.loginBox{
 text-align:center;
 margin:0 auto;
 margin-top:Fangsize(60);
 padding:0 Fangsize(30);
 ul{
   text-align center;
   li{
     width:50%;
     margin auto;
      //float left;
   }
   a{
     color:#7f94a8;
     width:60%;
     display:inline-block;
     Fangfont(14);
     height:Fangsize(70);
     line-height:Fangsize(70);
     &.onActive{
       border-bottom:1px solid #4f83b6;
       color:#d8dee4 !important;
      }
    }
  }
}
.loginInput{
  clear:both;
  padding: Fangsize(85) Fangsize(30) 0 Fangsize(30);
	margin:0 auto;
	li{
		width:100%;
		height:Fangsize(116)
		border-bottom:1px solid #888
	}
	p{
		height:Fangsize(96);
		position:relative;
		img{
			vertical-align: middle;
			height:Fangsize(39);
      margin-left Fangsize(5);
		}
		input{
			width:80%;
			vertical-align: middle;
			height:Fangsize(96);
      background:#2c3e50;
      color:#ebebeb;
			Fangfont(15);
      margin-left:Fangsize(30);
		}
		.passwordImg{
			position:absolute;
			right:Fangsize(10);
			top:50%;
			transform: translateY(-50%);
			margin-right:0
		}
	}
}

.loginButton{
	text-align:center;
  margin-top:Fangsize(120);
  padding: 0 Fangsize(30)
	button{
		width:100%;
		height:Fangsize(74);
		Fangfont(16);
		color: #FFFFFF;
		border:none;
		border-radius:Fangsize(8);
    margin-bottom:Fangsize(45);
	}
  .Btn_login{
    background:#4f83b6;
    border:1px solid #4f83b6;
  }
  .Btn_register{
    background:#2c3e50;
    border:1px solid #4490da;
  }
}
